<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- fragment meta -->
	<th:block th:replace="~{/fragment/meta :: meta}"></th:block>
	<!-- fragment link -->
	<th:block th:replace="~{/fragment/link :: link}"></th:block>
	<title>MyShop</title>
</head>

<body>

	<!-- fragment header -->
	<th:block th:replace="~{/fragment/header :: header}"></th:block>

	<!-- 메인 콘텐츠 영역 -->
	<main class="container my-5">
SELLER
	</main>
	
	<!-- fragment footer -->
	<th:block th:replace="~{/fragment/footer :: footer}"></th:block>
	<!-- fragment script -->
	<th:block th:replace="~{/fragment/script :: script}"></th:block>
</body>

</html>

