<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="meta">

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- thymeleaf에서만 가능 -->
	<!-- CSRF -->
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<!-- 인증정보 -->
	<!-- <sec:authorize access="isAuthenticated()">
		<meta name="auth-name" th:content="${#authentication.name}" />
		<meta name="auth-name" th:content="${principal.userDto.name}" />
		<meta name="auth-role" th:content="${principal.userDto.role}" />
	</sec:authorize> -->

</th:block>





