<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>blog</title>
</head>
<body>
	<h1>목록</h1>
	<a href="/aloha/blog">뒤로</a> </br>
	</br></br>
	
	<table border="1">
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>글내용</th>
			<th>첨부파일갯수</th>
			<th>등록일자</th>
			<th>등록자</th>
			<th>수정일자</th>
			<th>수정자</th>
		</tr>

		<tr th:each="blog:${blogList}">
			<td th:text="${blog.id}"></td>
			<td>
				<!-- <a th:href="@{'/aloha/blog/detail?id='+${blog.id}}" th:text="${blog.title}"></a> -->
				<!-- <a th:href="|/aloha/blog/detail?id=${blog.id}|" th:text="${blog.title}"></a> -->
				<a th:href="@{/aloha/blog/detail(id=${blog.id})}" th:text="${blog.title}"></a>				
			</td>
			<td th:text="${blog.writer}"></td>
			<td th:text="${blog.contents}"></td>
			<td th:text="${blog.attachCount}"></td>
			<td th:text="${blog.frstRegDate}"></td>
			<td th:text="${blog.frstRegUserId}"></td>
			<td th:text="${blog.lastChgDate}"></td>
			<td th:text="${blog.lastChgUserId}"></td>
		</tr>
	</table>
	<a href="/aloha/blog/insert">작성</a>
	
	
</body>
</html>