<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shm.user">	
 
 	<insert id="insert" parameterType="com.shm.user.UserEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO USER (
			EMAIL
			, NAME
			, PASSWORD
			, ROLE
			, FRST_REG_DATE
			, FRST_REG_USER_ID
			, LAST_CHG_DATE
			, LAST_CHG_USER_ID
		) VALUES (
			#{email}
			, #{name}
			, #{password}
			, #{role}
			<choose>
				<when test="frstRegDate != null">, #{frstRegDate}</when>
				<otherwise>, current_timestamp()</otherwise>
			</choose>
			<choose>
				<when test="frstRegUserId != null">, #{frstRegUserId}</when>
				<otherwise>, 'SYSTEM'</otherwise>
			</choose>
			<choose>
				<when test="lastChgDate != null">, #{lastChgDate}</when>
				<otherwise>, current_timestamp()</otherwise>
			</choose>
			<choose>
				<when test="lastChgUserId != null">, #{lastChgUserId}</when>
				<otherwise>, 'SYSTEM'</otherwise>
			</choose>
		)
	</insert>

	<select id="selectByEmail" parameterType="string" resultType="com.shm.user.UserEntity">
		SELECT
			ID
			, EMAIL
			, NAME
			, PASSWORD
			, ROLE
			, FRST_REG_DATE
			, FRST_REG_USER_ID
			, LAST_CHG_DATE
			, LAST_CHG_USER_ID
		FROM USER
		WHERE EMAIL = #{email}
	</select>
	
	<update id="update" parameterType="com.shm.user.UserEntity">
		UPDATE USER
			SET 
				EMAIL = #{email} 
				, NAME = #{name} 
				, PASSWORD = #{password} 
				, ROLE = #{role}
				<choose>
					<when test="lastChgDate != null">, LAST_CHG_DATE = #{lastChgDate}</when>
					<otherwise>, LAST_CHG_DATE = current_timestamp()</otherwise>
				</choose>
				, LAST_CHG_USER_ID = #{lastChgUserId}
		WHERE ID = #{id}
	</update>


	<delete id="deleteByEmail" parameterType="string">
		DELETE FROM USER
		WHERE EMAIL = #{email}
	</delete>
	
</mapper>
