<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shm.product">	
 
 	<insert id="insert" parameterType="com.shm.product.ProductEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO PRODUCT (
			USER_ID,
			CATEGORY_ID,
			SOLD,
			NAME,
			PRICE,
			VIEW_COUNT,
			SELL_COUNT,
			DESC,
			THUMBNAIL_URL
		) VALUES (
			#{userId},
			#{categoryId},
			#{sold},
			#{name},
			#{price},
			#{viewCount},
			#{desc},
			#{sellCount},
			#{thumbnailUrl}
		)
	</insert>

	<select id="select" resultType="com.shm.product.ProductEntity">
		SELECT
			ID,
			USER_ID,
			CATEGORY_ID,
			SOLD,
			NAME,
			PRICE,
			VIEW_COUNT,
			SELL_COUNT,
			DESC,
			THUMBNAIL_URL
			FRST_REG_DATE,
			FRST_REG_USER_ID,
			LAST_CHG_DATE,
			LAST_CHG_USER_ID
		FROM PRODUCT
	</select>
	
	<select id="selectById" parameterType="int" resultType="com.shm.product.ProductEntity">
		SELECT
			ID,
			USER_ID,
			CATEGORY_ID,
			SOLD,
			NAME,
			PRICE,
			VIEW_COUNT,
			SELL_COUNT,
			DESC,
			THUMBNAIL_URL
			FRST_REG_DATE,
			FRST_REG_USER_ID,
			LAST_CHG_DATE,
			LAST_CHG_USER_ID
		FROM CATEGORY
		WHERE ID = #{id}
	</select>
	
	<select id="selectByUserId" parameterType="int" resultType="com.shm.product.ProductEntity">
		SELECT
			ID,
			USER_ID,
			CATEGORY_ID,
			SOLD,
			NAME,
			PRICE,
			VIEW_COUNT,
			SELL_COUNT,
			DESC,
			THUMBNAIL_URL
			FRST_REG_DATE,
			FRST_REG_USER_ID,
			LAST_CHG_DATE,
			LAST_CHG_USER_ID
		FROM CATEGORY
		WHERE USER_ID = #{userId}
	</select>
	
</mapper>
