<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>home</title>
	
	<!-- bootstrap -->
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"> -->
	<link href="/css/bootstrap-5.3.5/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div>
			<h2>youtube aloha</h2>
			<a href="/">
				<h3>뒤로</h3>
			</a>
		</div>

		<div>
			<ul class="list-group">
				<li class="list-group-item"><a href="/aloha/test/response">test index</a></li>
				<li class="list-group-item"><a href="/aloha/test/response/login">test login</a></li>
				<li class="list-group-item"><a href="/aloha/test/board">test board</a></li>
				<li class="list-group-item"><a href="/aloha/blog">blog</a></li>
				<!-- <li class="list-group-item">A second item</li> -->
			</ul>
		</div>
	</div>


	<!-- bootstrap -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script> -->
	<script src="/js/bootstrap-5.3.5/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>