

<head th:fragment="head">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- thymeleaf에서만 가능 -->
	<!-- CSRF -->
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<!-- 인증정보 -->
	<!-- <sec:authorize access="isAuthenticated()">
		<meta name="auth-name" th:content="${#authentication.name}" />
		<meta name="auth-name" th:content="${principal.userDto.name}" />
		<meta name="auth-role" th:content="${principal.userDto.role}" />
	</sec:authorize> -->	
	
	<title>MyShop</title>
	
	<link href="/css/bootstrap-5.3.5/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/bootstrap-icons-1.13.1/bootstrap-icons.css" rel="stylesheet" />
	
	<style>
		body {
			padding-top: 60px;
			padding-bottom: 70px;
		}
	</style>
</head>





