

<div th:fragment="footer">
	<style>
		footer.fixed-bottom {
			background-color: #f8f9fa;
			border-top: 1px solid #ccc;
		}
		
		.footer-nav i {
			font-size: 1.5rem;
		}
	</style>

	<!-- 고정 하단 footer -->
	<footer class="fixed-bottom">
		<div class="container-fluid">
			<div class="row text-center footer-nav">
				<div class="col">
					<a href="#" class="d-block py-2 text-dark text-decoration-none"> 
						<i class="bi bi-house"></i><br /> 
						<!-- <small>홈</small> -->
					</a>
				</div>
				<div class="col">
					<a href="#" class="d-block py-2 text-dark text-decoration-none"> 
						<i class="bi bi-search"></i><br /> 
						<!-- <small>찾기</small> -->
					</a>
				</div>
				<div class="col">
					<a href="#" class="d-block py-2 text-dark text-decoration-none"> 
						<div sec:authorize="isAuthenticated()">
							<i class="bi bi-person-fill-gear"></i><br />
						</div>
						<div sec:authorize="isAnonymous()">
							<i class="bi bi-person-fill-lock"></i><br />
						</div> 
						<!-- <small>MY</small> -->
					</a>
				</div>
				<div class="col">
					<a href="#" class="d-block py-2 text-dark text-decoration-none"> 
						<i class="bi bi-cart"></i><br /> 
						<!-- <small>장바구니</small> -->
					</a>
				</div>
			</div>
		</div>
	</footer>

	<!-- Bootstrap JS -->
	<script src="/js/bootstrap-5.3.5/bootstrap.bundle.min.js"></script>
	<script src="/js/common/common.js"></script>
</div>





