

<div th:fragment="header">
	<style>
		header.fixed-top {
			background-color: white;
			border-bottom: 1px solid #ccc;
			z-index: 1030;
		}
	</style>

	<!-- 고정 상단 header -->
	<header class="fixed-top text-center py-2">
		<a href="/" class="text-decoration-none fw-bold fs-4 text-dark">MyShop</a>
		
		<!-- logout  --> 
		<form method="post" th:action="@{/logout}">
			<!-- <input type="hidden" name="_csrf" th:value="${_csrf.token}" /> -->
			<button type="submit" class="btn btn-danger">
				<!-- 로그인 여부 확인 -->
				<div sec:authorize="isAuthenticated()">
					<!-- DTO -->
					<span sec:authentication="principal.userDto.role"></span>
					<!-- 필수정보 -->
					<!-- <span sec:authentication="principal.role"></span> -->
				</div>
				<div sec:authorize="isAnonymous()">
					<span sec:authentication="principal"></span>
				</div>
			</button>
		</form>
		
	</header>
</div>





