<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.metacoding.blog.panel">

	<insert id="insert" parameterType="com.study.metacoding.blog.panel.entity.PanelEntity">
		INSERT INTO PANEL (			
			TITLE,
			CONTENTS,	
			HITS,
			USER_ID
		) VALUES (
			#{title},
			#{contents},	
			#{hits},
			#{userId}
		)
	</insert>
	
	<select id="selectMaxId" resultType="java.lang.Integer">
		SELECT
			MAX(ID) 
		FROM PANEL
	</select>
	
	<select id="select" parameterType="java.lang.Integer" resultType="com.study.metacoding.blog.panel.entity.PanelEntity">
		SELECT
			ID,
			TITLE,
			CONTENTS,	
			HITS,
			USER_ID,
			FRST_REG_DATE,
			FRST_REG_USER_ID,
			LAST_CHG_DATE,
			LAST_CHG_USER_ID
		FROM PANEL
		WHERE ID = #{id}
	</select>
	
	<select id="selectAll" resultType="com.study.metacoding.blog.panel.entity.PanelEntity">
		SELECT
			ID,
			TITLE,
			CONTENTS,	
			HITS,
			USER_ID,
			FRST_REG_DATE,
			FRST_REG_USER_ID,
			LAST_CHG_DATE,
			LAST_CHG_USER_ID
		FROM PANEL
		WHERE 1=1
		ORDER BY ID DESC
	</select>
	
	<!-- <update id="updateSeq" parameterType="Long">
		UPDATE BOARD
			SET HITS = HITS+1
		WHERE SEQ = #{seq}
	</update> -->
	
	
	
</mapper>
